In [123]:
import pandas as pd
import numpy as np

df_6_1=pd.read_csv(r"6월/티맵 OD data_0601_0605.csv")
df_6_2=pd.read_csv(r"6월/티맵 OD data_0606_0610.csv")
df_6_3=pd.read_csv(r"6월/티맵 OD data_0611_0615.csv")
df_6_4=pd.read_csv(r"6월/티맵 OD data_0616_0620.csv")
df_6_5=pd.read_csv(r"6월/티맵 OD data_0621_0625.csv")
df_6_6=pd.read_csv(r"6월/티맵 OD data_0626_0630.csv")
pd.concat([df_6_1, df_6_2, df_6_3, df_6_4, df_6_5, df_6_6], axis=0).to_csv("6월/tmap_OD_202106.csv", index=False)

df_7_1=pd.read_csv(r"7월/티맵 OD data_0701_0705.csv")
df_7_2=pd.read_csv(r"7월/티맵 OD data_0706_0710.csv")
df_7_3=pd.read_csv(r"7월/티맵 OD data_0711_0715.csv")
df_7_4=pd.read_csv(r"7월/티맵 OD data_0716_0720.csv")
df_7_5=pd.read_csv(r"7월/티맵 OD data_0721_0725.csv")
df_7_6=pd.read_csv(r"7월/티맵 OD data_0726_0731.csv")
pd.concat([df_7_1, df_7_2, df_7_3, df_7_4, df_7_5, df_7_6], axis=0).to_csv("7월/tmap_OD_202107.csv", index=False)

df_8_1=pd.read_csv(r"8월/티맵 OD data_0801_0805.csv")
df_8_2=pd.read_csv(r"8월/티맵 OD data_0806_0810.csv")
df_8_3=pd.read_csv(r"8월/티맵 OD data_0811_0815.csv")
df_8_4=pd.read_csv(r"8월/티맵 OD data_0816_0820.csv")
df_8_5=pd.read_csv(r"8월/티맵 OD data_0821_0825.csv")
df_8_6=pd.read_csv(r"8월/티맵 OD data_0826_0831.csv")
pd.concat([df_8_1, df_8_2, df_8_3, df_8_4, df_8_5, df_8_6], axis=0).to_csv("8월/tmap_OD_202108.csv", index=False)

df_9_1=pd.read_csv(r"9월/티맵 OD data_0901_0905.csv")
df_9_2=pd.read_csv(r"9월/티맵 OD data_0906_0910.csv")
df_9_3=pd.read_csv(r"9월/티맵 OD data_0911_0915.csv")
df_9_4=pd.read_csv(r"9월/티맵 OD data_0916_0920.csv")
df_9_5=pd.read_csv(r"9월/티맵 OD data_0921_0925.csv")
df_9_6=pd.read_csv(r"9월/티맵 OD data_0926_0930.csv")
pd.concat([df_9_1, df_9_2, df_9_3, df_9_4, df_9_5, df_9_6], axis=0).to_csv("9월/tmap_OD_202109.csv", index=False)

df_10_1=pd.read_csv(r"10월/티맵 OD data_1001_1005.csv")
df_10_2=pd.read_csv(r"10월/티맵 OD data_1006_1010.csv")
df_10_3=pd.read_csv(r"10월/티맵 OD data_1011_1015.csv")
df_10_4=pd.read_csv(r"10월/티맵 OD data_1016_1020.csv")
df_10_5=pd.read_csv(r"10월/티맵 OD data_1021_1025.csv")
df_10_6=pd.read_csv(r"10월/티맵 OD data_1026_1031.csv")
pd.concat([df_10_1, df_10_2, df_10_3, df_10_4, df_10_5, df_10_6], axis=0).to_csv("10월/tmap_OD_202110.csv", index=False)

df_11_1=pd.read_csv(r"11월/티맵 OD data_1101_1105.csv")
df_11_2=pd.read_csv(r"11월/티맵 OD data_1106_1110.csv")
df_11_3=pd.read_csv(r"11월/티맵 OD data_1111_1115.csv")
df_11_4=pd.read_csv(r"11월/티맵 OD data_1116_1120.csv")
df_11_5=pd.read_csv(r"11월/티맵 OD data_1121_1125.csv")
df_11_6=pd.read_csv(r"11월/티맵 OD data_1126_1130.csv")
pd.concat([df_11_1, df_11_2, df_11_3, df_11_4, df_11_5, df_11_6], axis=0).to_csv("11월/tmap_OD_202111.csv", index=False)

df_12_1=pd.read_csv(r"12월/티맵 OD data_1201_1205.csv")
df_12_2=pd.read_csv(r"12월/티맵 OD data_1206_1210.csv")
df_12_3=pd.read_csv(r"12월/티맵 OD data_1211_1215.csv")
df_12_4=pd.read_csv(r"12월/티맵 OD data_1216_1220.csv")
df_12_5=pd.read_csv(r"12월/티맵 OD data_1221_1225.csv")
df_12_6=pd.read_csv(r"12월/티맵 OD data_1226_1231.csv")
pd.concat([df_12_1, df_12_2, df_12_3, df_12_4, df_12_5, df_12_6], axis=0).to_csv("12월/tmap_OD_202112.csv", index=False)

In [110]:
df_1=pd.read_csv(r"1월/tmap_OD_202101.csv",sep='\|').query('ETC=="visit"').sample(n=250000, random_state=20220802)
df_2=pd.read_csv(r"2월/tmap_OD_202102.csv",sep='\|').query('ETC=="visit"').sample(n=250000, random_state=20220802)
df_3=pd.read_csv(r"3월/tmap_OD_202103.csv",sep='\|').query('ETC=="visit"').sample(n=250000, random_state=20220802)
df_4=pd.read_csv(r"4월/tmap_OD_202104.csv",sep='\|').query('ETC=="visit"').sample(n=250000, random_state=20220802)
df_5=pd.read_csv(r"5월/tmap_OD_202105.csv",sep='\|').query('ETC=="visit"').sample(n=250000, random_state=20220802)

C:\Users\User\AppData\Local\Temp\ipykernel_12816\1168219447.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_1=pd.read_csv(r"1월/tmap_OD_202101.csv",sep='\|').query('ETC=="visit"').sample(n=250000, random_state=20220802)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\1168219447.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_2=pd.read_csv(r"2월/tmap_OD_202102.csv",sep='\|').query('ETC=="visit"').sample(n=250000, random_state=20220802)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\1168219447.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_3=pd.read_csv(r"3월/tmap_OD_202103.csv",sep='\|').query('ETC=="visit"').sample(n=250000, random_state=20220802)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\1168219447.py:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_4=pd.read_csv(r"4월/tmap_OD_202104.csv",sep='\|').query('ETC=="visit"').sample(n=250000, random_state=20220802)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\1168219447.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_5=pd.read_csv(r"5월/tmap_OD_202105.csv",sep='\|').query('ETC=="visit"').sample(n=250000, random_state=20220802)

df_6=pd.read_csv(r"6월/tmap_OD_202106.csv").query('local_user=="foreign"').sample(n=200000, random_state=20220802)
df_7=pd.read_csv(r"7월/tmap_OD_202107.csv").query('local_user=="foreign"').sample(n=200000, random_state=20220802)
df_8=pd.read_csv(r"8월/tmap_OD_202108.csv").query('local_user=="foreign"').sample(n=200000, random_state=20220802)
df_9=pd.read_csv(r"9월/tmap_OD_202109.csv").query('local_user=="foreign"').sample(n=200000, random_state=20220802)
df_10=pd.read_csv(r"10월/tmap_OD_202110.csv").query('local_user=="foreign"').sample(n=200000, random_state=20220802)
df_11=pd.read_csv(r"11월/tmap_OD_202111.csv").query('local_user=="foreign"').sample(n=200000, random_state=20220802)
df_12=pd.read_csv(r"12월/tmap_OD_202112.csv").query('local_user=="foreign"').sample(n=200000, random_state=20220802)

In [111]:
df_a = pd.read_csv(r"1-1. (1~5월) 데이터_category_code.csv", encoding="utf-8", sep='\|')
df_b = pd.read_excel(r"1. (1~5월) 데이터 정의서.xlsx")
df_c = pd.read_excel(r"2. (6~12월) 데이터 정의서.xlsx")

C:\Users\User\AppData\Local\Temp\ipykernel_12816\2084814484.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_a = pd.read_csv(r"1-1. (1~5월) 데이터_category_code.csv", encoding="utf-8", sep='\|')

In [113]:
df_1

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
279586,202101,20210121,visit,M,70,Grid326_483,Grid325_496,14,5,9,3,2,99,1
358031,202101,20210125,visit,W,50,Grid363_337,Grid254_364,12,15,4,2,1,1,1
6426,202101,20210101,visit,M,30,Grid236_386,Grid246_511,20,22,9,8,1,2,1
327346,202101,20210124,visit,M,30,Grid130_420,Grid140_404,18,9,9,2,1,14,1
411474,202101,20210128,visit,W,40,Grid230_373,Grid213_398,13,54,14,2,2,99,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4769,202101,20210101,visit,M,20,Grid237_374,Grid166_389,12,23,9,2,1,9,1
335319,202101,20210124,visit,W,30,Grid162_440,Grid240_368,16,19,41,1,2,4,1
174625,202101,20210115,visit,M,40,Grid299_509,Grid310_498,11,19,7,2,1,1,1
128652,202101,20210112,visit,W,20,Grid221_503,Grid436_406,19,49,76,2,1,1,1
334032,202101,20210124,visit,M,50,Grid387_338,Grid271_510,15,23,78,1,2,3,1

In [122]:
df_a

    CLASS_NM_1 CLASS_NM_2 CLASS_NM_3  CLASS_CD_1  CLASS_CD_2  CLASS_CD_3
0         교통편의       교통시설         공항           1           1           1
1         교통편의       교통시설        기차역           1           1           2
2         교통편의       교통시설       지하철역           1           1           3
3         교통편의       교통시설         항구           1           1           4
4         교통편의       교통시설      버스터미널           1           1           5
..         ...        ...        ...         ...         ...         ...
582        AOI         도로       고속도로          13          11           1
583      그룹핑부속       주거단지        아파트          14           2           1
584      그룹핑부속       주거단지         기타          14           2          99
585      그룹핑부속      자동차시설        주차장          14           3           1
586      그룹핑부속         기타         기타          14          99          99

[587 rows x 6 columns]

In [114]:
dict_1={}
dict_2={}
dict_3={}
for i in range(len(df_a)):
    dict_1[df_a.iloc[i,3]]=df_a.iloc[i,0]
    dict_2[df_a.iloc[i,4]]=df_a.iloc[i,1]
    dict_3[df_a.iloc[i,5]]=df_a.iloc[i,2]
#
df_lst=[df_1, df_2, df_3, df_4, df_5]
for d in df_lst:
    d["cate_name_a"]=d["DEST_CLASS_CD_1"].apply(lambda x:dict_1[x])
    d["cate_name_b"]=d["DEST_CLASS_CD_2"].apply(lambda x:dict_2[x])
    d["cate_name_c"]=d["DEST_CLASS_CD_3"].apply(lambda x:dict_3[x])

In [115]:
#df_12.rename(columns={"age_group":"age"},inplace=True)
pd.concat([df_1, df_2, df_3, df_4, df_5], axis=0).to_csv("tmap_OD.csv", index=False)

In [116]:
df=pd.read_csv("tmap_OD.csv")

In [119]:
df

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT,cate_name_a,cate_name_b,cate_name_c
0,202101,20210121,visit,M,70,Grid326_483,Grid325_496,14,5,9,3,2,99,1,여행/레저,주거단지,기타
1,202101,20210125,visit,W,50,Grid363_337,Grid254_364,12,15,4,2,1,1,1,생활편의,지역,주차장
2,202101,20210101,visit,M,30,Grid236_386,Grid246_511,20,22,9,8,1,2,1,쇼핑,지역,시/군/구
3,202101,20210124,visit,M,30,Grid130_420,Grid140_404,18,9,9,2,1,14,1,생활편의,지역,건설업
4,202101,20210128,visit,W,40,Grid230_373,Grid213_398,13,54,14,2,2,99,1,생활편의,주거단지,기타
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1249995,202105,20210511,visit,M,30,Grid270_513,Grid240_368,15,51,7,1,2,4,1,교통편의,주거단지,리
1249996,202105,20210529,visit,M,40,Grid240_456,Grid130_419,15,31,7,2,1,1,1,생활편의,지역,주차장
1249997,202105,20210504,visit,W,30,Grid282_366,Grid319_347,9,44,15,2,2,99,1,생활편의,주거단지,기타
1249998,202105,20210513,visit,M,50,Grid162_392,Grid252_375,13,9,35,9,1,1,1,건물/시설,지역,주차장
1249999,202105,20210521,visit,M,40,Grid249_361,Grid245_373,12,24,9,2,1,9,1,생활편의,지역,새주소도로명

In [46]:
df.to_csv("df.csv", index=False)

In [277]:
name_list=set(df_vi["org"].value_counts().reset_index()[:100]["index"])&set(df_vi["dest"].value_counts().reset_index()[:100]["index"])

In [278]:
df["start_time"]=df["STD_YMD"]-np.round(df["TOTAL_TIME"]/60,3)

In [271]:
set(df_vi["org"].value_counts().reset_index()[:100]["index"])&set(df_vi["dest"].value_counts().reset_index()[:100]["index"])

{'Grid121_430',
 'Grid150_400',
 'Grid153_392',
 'Grid154_393',
 'Grid154_519',
 'Grid199_511',
 'Grid202_513',
 'Grid232_380',
 'Grid233_373',
 'Grid238_367',
 'Grid238_368',
 'Grid242_369',
 'Grid249_362',
 'Grid250_365',
 'Grid253_365',
 'Grid254_362',
 'Grid254_364',
 'Grid271_510',
 'Grid273_510',
 'Grid276_513',
 'Grid319_347',
 'Grid319_348',
 'Grid320_348',
 'Grid434_400',
 'Grid443_392',
 'Grid788_2867'}

In [270]:
import datetime
df_name=[]
df_value=[]
for n in name_list:
    df_dest=df.query('DEST==@n')
    df_org=df.query('ORG==@n')
    df_org["DEST_MM"]=df_org["DEST_MM"]-df_org["TOTAL_TIME"]
    df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
    df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)

    df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
    df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)

    df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
    df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
    df_org["DEST_MM"]=df_org["DEST_MM"]-df_org["TOTAL_TIME"]
    df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
    df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)

    df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
    df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)

    df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
    df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
    df_org.rename(columns={"DEST_HH":"ORG_HH", "DEST_MM":"ORG_MM"},inplace=True)
    
    df_dest["DEST_HH"]=df_dest["DEST_HH"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
    df_dest["DEST_MM"]=df_dest["DEST_MM"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
    df_org["ORG_HH"]=df_org["ORG_HH"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
    df_org["ORG_MM"]=df_org["ORG_MM"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
    
    df_org["TIME"]=df_org["ORG_HH"]+df_org["ORG_MM"]
    df_dest["TIME"]=df_dest["DEST_HH"]+df_dest["DEST_MM"]
    
    df_org=df_org.query('TIME!="-159"')
    
    df_org["TIME"]=pd.to_datetime(df_org["TIME"], format="%H%M")
    df_dest["TIME"]=pd.to_datetime(df_dest["TIME"], format="%H%M")
    
    df_value.append(df_org["TIME"].mean()-df_dest["TIME"].mean())

C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"]-df_org["TOTAL_TIME"]
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"]-df_org["TOTAL_TIME"]
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org.rename(columns={"DEST_HH":"ORG_HH", "DEST_MM":"ORG_MM"},inplace=True)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dest["DEST_HH"]=df_dest["DEST_HH"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dest["DEST_MM"]=df_dest["DEST_MM"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["ORG_HH"]=df_org["ORG_HH"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["ORG_MM"]=df_org["ORG_MM"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["TIME"]=df_org["ORG_HH"]+df_org["ORG_MM"]
C:\Users\User\AppData\Local\Temp\ipykernel_12816\2639981583.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dest["TIME"]=df_dest["DEST_HH"]+df_dest["DEST_MM"]

ValueError: unconverted data remains: -70

In [139]:
df_b

,데이터 납품(월) - 제주도 TMAP OD(100m/200m인덱스),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,주제영역명,NaN,TMAP,작성일,2020.11.06,NaN,작성자,NaN,김지연
1,테이블ID,NaN,tmap_OD_.csv,NaN,NaN,NaN,NaN,NaN,NaN
2,테이블설명,NaN,월별 제주도 tmapOD,NaN,NaN,NaN,NaN,NaN,NaN
3,No.,컬럼ID,컬럼 내용,타입,길이,NaN,KEY,DEFAULT,비고
4,1,STD_YM,기준 년월,V_WString,255,NaN,NaN,NaN,2020년 6월 - 2021년 5월
5,2,STD_YMD,기준 일자,V_WString,255,NaN,NaN,NaN,NaN
6,3,ETC,관내외,V_WString,255,NaN,NaN,NaN,관내(local) \n관외(visit)
7,4,GENDER,성별,V_WString,255,NaN,NaN,NaN,남성(M) \n여성(W)
8,5,AGE,연령대별,V_WString,255,NaN,NaN,NaN,NaN
9,6,ORG,출발 인덱스,V_WString,255,NaN,NaN,NaN,"100m, 200m grid 인덱스"
10,7,DEST,도착 인덱스,V_WString,255,NaN,NaN,NaN,"100m, 200m grid 인덱스"
11,8,DEST_HH,도착 시간,V_WString,255,NaN,NaN,NaN,NaN
12,9,DEST_MM,도착 분,V_WString,255,NaN,NaN,NaN,NaN
13,10,TOTAL_TIME,소요시간,V_WString,255,NaN,NaN,NaN,단위 : 분
14,11,DEST_CLASS_CD_1,목적지 POI 대분류,V_WString,255,NaN,NaN,NaN,NaN
15,12,DEST_CLASS_CD_2,목적지 POI 중분류,V_WString,255,NaN,NaN,NaN,NaN
16,13,DEST_CLASS_CD_3,목적지 POI 소분류,V_WString,255,NaN,NaN,NaN,NaN
17,14,CNT,건 수,DOUBLE,8,NaN,NaN,NaN,NaN

In [132]:
df["start_time"]=df["STD_YMD"]-np.round(df["TOTAL_TIME"]/60,3)

In [279]:
df_dest=df.query('DEST=="Grid121_430"')

In [280]:
df_org=df.query('ORG=="Grid121_430"')
df_org["DEST_MM"]=df_org["DEST_MM"]-df_org["TOTAL_TIME"]

C:\Users\User\AppData\Local\Temp\ipykernel_12816\1643200512.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"]-df_org["TOTAL_TIME"]

In [281]:
df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)

df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)

df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)

C:\Users\User\AppData\Local\Temp\ipykernel_12816\4018426472.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\4018426472.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\4018426472.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\4018426472.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\4018426472.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\4018426472.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)

In [282]:
df_org.rename(columns={"DEST_HH":"ORG_HH", "DEST_MM":"ORG_MM"},inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_12816\3571811469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org.rename(columns={"DEST_HH":"ORG_HH", "DEST_MM":"ORG_MM"},inplace=True)

In [283]:
df_dest["DEST_HH"]=df_dest["DEST_HH"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
df_dest["DEST_MM"]=df_dest["DEST_MM"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
df_org["ORG_HH"]=df_org["ORG_HH"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
df_org["ORG_MM"]=df_org["ORG_MM"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))

C:\Users\User\AppData\Local\Temp\ipykernel_12816\877065705.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dest["DEST_HH"]=df_dest["DEST_HH"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
C:\Users\User\AppData\Local\Temp\ipykernel_12816\877065705.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dest["DEST_MM"]=df_dest["DEST_MM"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
C:\Users\User\AppData\Local\Temp\ipykernel_12816\877065705.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["ORG_HH"]=df_org["ORG_HH"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
C:\Users\User\AppData\Local\Temp\ipykernel_12816\877065705.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["ORG_MM"]=df_org["ORG_MM"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))

In [284]:
df_org["TIME"]=df_org["ORG_HH"]+df_org["ORG_MM"]

C:\Users\User\AppData\Local\Temp\ipykernel_12816\674343884.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["TIME"]=df_org["ORG_HH"]+df_org["ORG_MM"]

In [285]:
df_dest["TIME"]=df_dest["DEST_HH"]+df_dest["DEST_MM"]

C:\Users\User\AppData\Local\Temp\ipykernel_12816\872059491.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dest["TIME"]=df_dest["DEST_HH"]+df_dest["DEST_MM"]

In [286]:
df_org["TIME"]

100        1725
695        1458
1400       1352
1650       1223
2105       1611
           ...
1248295    1602
1248305    0852
1249419    1606
1249775    1814
1249807    1951
Name: TIME, Length: 4140, dtype: object

In [287]:
df_org=df_org.query('TIME!="-159"')

In [288]:
import datetime

In [289]:
df_org["TIME"]=pd.to_datetime(df_org["TIME"], format="%H%M")

In [290]:
df_dest["TIME"]=pd.to_datetime(df_dest["TIME"], format="%H%M")

C:\Users\User\AppData\Local\Temp\ipykernel_12816\198372241.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dest["TIME"]=pd.to_datetime(df_dest["TIME"], format="%H%M")

In [291]:
df_dest

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT,cate_name_a,cate_name_b,cate_name_c,start_time,TIME
261,202101,20210124,visit,M,40,Grid143_479,Grid121_430,13,09,17,3,2,10,1,여행/레저,주거단지,아파트브랜드,2.021012e+07,1900-01-01 13:09:00
344,202101,20210130,visit,W,40,Grid130_419,Grid121_430,15,33,7,3,2,10,1,여행/레저,주거단지,아파트브랜드,2.021013e+07,1900-01-01 15:33:00
354,202101,20210101,visit,M,40,Grid125_427,Grid121_430,13,18,16,3,2,10,1,여행/레저,주거단지,아파트브랜드,2.021010e+07,1900-01-01 13:18:00
392,202101,20210114,visit,M,40,Grid175_385,Grid121_430,10,43,28,3,2,10,1,여행/레저,주거단지,아파트브랜드,2.021011e+07,1900-01-01 10:43:00
646,202101,20210121,visit,M,50,Grid332_349,Grid121_430,15,32,59,8,14,99,1,쇼핑,취미/오락,기타,2.021012e+07,1900-01-01 15:32:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1248986,202105,20210507,visit,M,50,Grid208_516,Grid121_430,18,39,36,3,2,10,1,여행/레저,주거단지,아파트브랜드,2.021051e+07,1900-01-01 18:39:00
1249047,202105,20210501,visit,M,30,Grid126_425,Grid121_430,10,22,3,3,2,10,1,여행/레저,주거단지,아파트브랜드,2.021050e+07,1900-01-01 10:22:00
1249173,202105,20210515,visit,M,50,Grid86_478,Grid121_430,13,35,24,3,2,10,1,여행/레저,주거단지,아파트브랜드,2.021051e+07,1900-01-01 13:35:00
1249569,202105,20210521,visit,M,30,Grid238_368,Grid121_430,16,46,1,3,2,10,1,여행/레저,주거단지,아파트브랜드,2.021052e+07,1900-01-01 16:46:00
1249689,202105,20210501,visit,M,50,Grid220_373,Grid121_430,17,03,62,3,2,10,1,여행/레저,주거단지,아파트브랜드,2.021050e+07,1900-01-01 17:03:00

In [292]:
df_org["TIME"].mean()-df_dest["TIME"].mean()

Timedelta('0 days 00:23:31.109123584')

In [261]:
pd.merge(df_o,df_d,on="STD_YMD",how="left")

      STD_YMD                        TIME_x                        TIME_y
0    20210101 1900-01-01 14:46:02.400000000 1900-01-01 13:35:21.428571392
1    20210102 1900-01-01 14:22:02.608695552 1900-01-01 14:03:28.064516352
2    20210103 1900-01-01 13:29:42.857142784 1900-01-01 13:31:26.037735680
3    20210104 1900-01-01 15:06:04.285714432 1900-01-01 14:26:05.294117888
4    20210105 1900-01-01 14:52:36.923076864 1900-01-01 14:08:13.846153728
..        ...                           ...                           ...
146  20210527 1900-01-01 13:32:48.571428608 1900-01-01 14:11:16.451612928
147  20210528 1900-01-01 13:39:30.000000000 1900-01-01 14:33:49.714285824
148  20210529 1900-01-01 14:41:57.857142784 1900-01-01 14:32:53.749999872
149  20210530 1900-01-01 15:16:51.176470528 1900-01-01 14:50:24.750000128
150  20210531 1900-01-01 14:39:13.124999936 1900-01-01 14:45:14.594594816

[151 rows x 3 columns]

In [276]:
df_dest=df.query('DEST=="Grid121_430"')
df_org=df.query('ORG=="Grid121_430"')
df_org["DEST_MM"]=df_org["DEST_MM"]-df_org["TOTAL_TIME"]
df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)

df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)

df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
df_org["DEST_MM"]=df_org["DEST_MM"]-df_org["TOTAL_TIME"]
df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)

    
df_dest["DEST_HH"]=df_dest["DEST_HH"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
df_dest["DEST_MM"]=df_dest["DEST_MM"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
df_org["ORG_HH"]=df_org["ORG_HH"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
df_org["ORG_MM"]=df_org["ORG_MM"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
    
df_org["TIME"]=df_org["ORG_HH"]+df_org["ORG_MM"]
df_dest["TIME"]=df_dest["DEST_HH"]+df_dest["DEST_MM"]
    
df_org=df_org.query('TIME!="-159"') 


df_org["TIME"]=pd.to_datetime(df_org["TIME"], format="%H%M")
df_dest["TIME"]=pd.to_datetime(df_dest["TIME"], format="%H%M")
    
df_value.append(df_org["TIME"].mean()-df_dest["TIME"].mean())

C:\Users\User\AppData\Local\Temp\ipykernel_12816\207701431.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"]-df_org["TOTAL_TIME"]
C:\Users\User\AppData\Local\Temp\ipykernel_12816\207701431.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\207701431.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\207701431.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\207701431.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\207701431.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\207701431.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\207701431.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"]-df_org["TOTAL_TIME"]
C:\Users\User\AppData\Local\Temp\ipykernel_12816\207701431.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_HH"]=df_org["DEST_HH"]+df_org["DEST_MM"].apply(lambda x: -1 if x<0 else 0)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\207701431.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_org["DEST_MM"]=df_org["DEST_MM"].apply(lambda x: x+60 if x<0 else x)
C:\Users\User\AppData\Local\Temp\ipykernel_12816\207701431.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dest["DEST_HH"]=df_dest["DEST_HH"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))
C:\Users\User\AppData\Local\Temp\ipykernel_12816\207701431.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dest["DEST_MM"]=df_dest["DEST_MM"].apply(lambda x: "0"+str(x) if len(str(x))==1 else str(x))

KeyError: 'ORG_HH'

In [72]:
df_r

      std_ymd  arrival_hour_x  arrival_hour_y      time
0    20210101       14.954545       13.031746  1.922799
1    20210102       14.600000       13.372093  1.227907
2    20210103       13.421053       13.227273  0.193780
3    20210104       15.083333       13.862069  1.221264
4    20210105       15.000000       13.571429  1.428571
..        ...             ...             ...       ...
146  20210527       13.263158       13.510638 -0.247480
147  20210528       13.000000       14.122807 -1.122807
148  20210529       14.800000       14.065789  0.734211
149  20210530       14.758621       14.453125  0.305496
150  20210531       14.884615       14.017241  0.867374

[151 rows x 4 columns]

In [274]:
df_value

[]

In [178]:
pd.to_datetime(df_org["TIME"], format="%H%M")

ValueError: unconverted data remains: -4

In [67]:
df_org=df_vi.query('org=="Grid121_430"').groupby("std_ymd")["arrival_hour"].mean().reset_index()

In [68]:
df_dest=df_vi.query('dest=="Grid121_430"').groupby("std_ymd")["arrival_hour"].mean().reset_index()

In [69]:
df_r=pd.merge(df_org,df_dest, on="std_ymd", how="left")

In [71]:
df_r["time"]=df_r["arrival_hour_x"]-df_r["arrival_hour_y"]